<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="http://localhost:4200/shopadmin" class="logo"><img src="/assets/logo.png" alt="" /></a><br>
            <a style="color:#FFFFFF" class="navbar-brand">YoussefTarik</a></div>

        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/shopadmin"  >Shop</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/users" class="dropdown-item">Users</a>
                    <a routerLink="/admin/books" class="dropdown-item">Books</a>
                </div>
            </li>
            
            <li><a  class="btn btn-danger" routerLink="/admin"  >Logout</a></li>
           
        </ul>
        
        
            
        
    </nav>
</header>